<!DOCTYPE html>
<html lang="en">
    <body>
        <h1> Add hospital to system </h1>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.h_name.label }} {{ form.h_name(size=40) }}
            {{ form.h_address.label }} {{ form.h_address(size=60) }}
          </br>
            {{ form.h_city.label }} {{ form.h_city(size=20) }}
            {{ form.h_state.label }} {{ form.h_state(size=20) }}
            {{ form.h_zipcode.label }} {{ form.h_zipcode(size=10) }}
            {{ form.h_county.label }} {{ form.h_county(size=20) }}
            </br>
            {{ form.h_phone.label }} {{ form.h_phone(size=15) }}
            {{ form.h_type.label }} {{ form.h_type(size=20) }}
            {{ form.h_owner.label }} {{ form.h_owner(size=20) }}
            </br>
            {{ form.h_er.label }} {{ form.h_er() }}
            <input type="submit" value="Go">
        </form>
    </body>
</html>
